
    @media screen and (max-width: 1229px){
        .container-main{
            padding-right: 15px;
            padding-left: 15px;;
        }
        .tour {
            .container-main {
              .tour-map{
       
              }
                    
              .tour-info {
        
          
                .tour-info-title {

                }
          
                .tour-info-text {
                  .small-block-css();
           
                }
          
                .button-tour {
                
                }
              }
            }
          }

          
.title {

  .title-bottom-shadow {

  }


  header {

    .container-main {


    }
  }

  .container-main {
    &.title-container {
 
      .title-block {


        .title-title {

        }

        .title-text {
     
        }

        .button-title {
    
        }

      }

      .social {

        right: 15px;


        .instagram {

        }

        .telegram {

        }
      }
    }
  }
}
.guarantees {
    
  .container-main {
       .guarantees-title {
 
    }

    .guarantees-upper-blocks {


      .guarantees-upper-block {
           width: 488px;


        .guarantees-upper-block-info {
          .guarantees-upper-block-title {
        
          }

          .guarantees-upper-block-text {
 
          }
        }
      }

      .guarantees-upper-block-icon {
  
      }
    }

    .guarantees-items {
      .flex-center-between();


      .guarantees-item {


        .guarantees-item-icon {

        }

        .guarantees-item-title {

        }

        .guarantees-item-text {
       
        }
      }
    }

    .guarantees-button-block {
   

      .button-guarantees {
   
      }
    }
  }
}
}
@media screen and (max-width: 1199px){
  .projects {
  
    .container-main {
padding-left: 7;
padding-bottom: 7;
  
      .projects-title {

      }
  
      .project-block {

        .project-image {
          margin-left: 8px;
          margin-right: 8px;
          .project-image-img{
            width: 600px;
          }
                    &.order {
 
          }
        }
  
        .project-info {
          margin-left: 8px;
          margin-right: 8px;
  
          .project-info-title {
            margin-bottom: 30px;
          }
  
          .project-info-text {
            margin-bottom: 33px;
  
          }
  
          .project-info-details {
            .flex-center-between();
  
            .project-info-detail {
                margin-bottom: 20px;
  
              span {
        
              }
            }
          }
  
          .button-project-info {

  
            &.transparent {
      
            }
          }
        }
      }
  
      .project-link-block {

      }
    }
  }

  .technology {
    .container-main {
       .technology-title {

      }
  
      .technology-image-block {
  
        .tehnology-image {
  
        }
  
        .technology-image-indicator {

        }
  
        .technology-info {
          .technology-info-title {
            
          }
  
          .technology-info-text {
   
          }
  
          &.block1 {
    
            max-width: 240px;

          }
  
          &.block2 {
            top: 140px;
            left: 815px;
          }
  
          &.block3 {
               top: 342px;
            left: 820px;
  
          }
  
          &.block4 {
    
            top: 512px;
            left: 560px;
          }
  
          &.block5 {
   
            top: 360px;
            left: 50px;
          }
        }
      }
    }
  }



  .consultation {
     .container-main {
      .consultation-image{
        width: 480px;
        .consultation-image-img{
          width: 100%;
        }
                      }
      .consultation-order {
         .consultation-order-title {
        }
  
        .consultation-order-form {
            .consultation-order-input {
            .form-control {

            }
              .invalid-feedback {
        
            }
          }
            .button-consultation-order {
         
            }
            .consultation-order-check {
              .form-check-input {
                  
            }
              .form-check-label {

            }
          }
        }
      }
    }
  }
}

  @media screen and (max-width: 1023px){

    .projects {
        .container-main {
              .project-block {
          justify-content: center;
          flex-wrap: wrap;

          .project-image {
            display: flex;
            flex-direction: column;
            justify-content: center;
             align-items: center;
                 .project-info-title {

              &.image{
              display: block;
              }
            }
    
             &.order {
                   order: 0;
                           }
          }
    
          .project-info {
            display: flex;
            align-items: center;
            flex-direction: column;
    
            .project-info-title {
              display: none;
            }
    
            .project-info-text {
              margin-top: 30px;
              text-align: center
                }
                .project-info-details {
              width: 500px;
                }
            }
        }
      }
    }

      .technology {
        .container-main {
          .technology-image-block {
              .technology-info {
              .technology-info-title {
                font-size: 14px;
              }
      
              .technology-info-text {
                font-size: 14px;
              }
      
              &.block1 {
                max-width: 240px;
              }
      
              &.block2 {
                      left: 600px;
              }
      
              &.block3 {
                left: 620px;
                    }
      
              &.block4 {
              left: 380px;
                           }
      
              &.block5 {
                       top: 360px;
                left: 50px;
              }
            }
          }
        }
      }

      .guarantees {
            .container-main {
          .guarantees-upper-blocks {
            justify-content: center;
           .guarantees-upper-block {
                 width: 350px;
                 padding-left: 30px;
                 margin-right: 15px;
                 padding-right: 10px;
            }
      
            .guarantees-upper-block-icon {
        margin-right: 30px;
            }
          }
      
          .guarantees-items {
            justify-content: center;
      
      
            .guarantees-item {
              margin-right: 30px;
            }
          }
        }
      }

      .consultation {
        .container-main {
          justify-content: center;
         .consultation-image{
           margin-bottom: 40px;
           .consultation-image-img{
             width: 100%;
           }
                         }
            }
     }
  }

  @media screen and (max-width: 767px){
    .title {
      background-size: auto;
      background-position: 60%;
      .container-main {
        &.title-container {
               .social {
            display: none;
          }
        }
      }
    }

.projects {
      .container-main {
  
      .project-block {
        .project-image {
          .project-image-img{
            width: 400px;
          }
        }
  
        .project-info {
            .project-info-details {
            width: 400px;
          }
        }
      }
    }
  }

  .technology {
    .container-main {
       .technology-title {

      }
  
      .technology-image-block {
     
        flex-direction: column;
  
        .tehnology-image {
          width: 100%;
        }
  
        .technology-image-indicator {
          display: none;
        }
  
        .technology-info {

          &.block1 {
            position: relative;
            left: 0;
          }
  
          &.block2 {
         display: none;
          }
  
          &.block3 {
             display: none;
  
          }
  
          &.block4 {
    display: none;
          }
  
          &.block5 {
   display: none;
          }
        }
      }
    }
  }



  }


