
    @media screen and (max-width: 1229px){
        .container-main{
            padding-right: 15px;
            padding-left: 15px;;
        }
        .tour {
            .container-main {
              .tour-map{
       
              }
                    
              .tour-info {
        
          
                .tour-info-title {

                }
          
                .tour-info-text {
                  .small-block-css();
           
                }
          
                .button-tour {
                
                }
              }
            }
          }

          
.title {

  .title-bottom-shadow {

  }


  header {

    .container-main {


    }
  }

  .container-main {
    &.title-container {
 
      .title-block {


        .title-title {

        }

        .title-text {
     
        }

        .button-title {
    
        }

      }

      .social {

        right: 15px;


        .instagram {

        }

        .telegram {

        }
      }
    }
  }
}
}
@media screen and (max-width: 1199px){
  .projects {
  
    .container-main {
padding-left: 7;
padding-bottom: 7;
  
      .projects-title {

      }
  
      .project-block {

        .project-image {
          margin-left: 8px;
          margin-right: 8px;
          .project-image-img{
            width: 600px;
          }
                    &.order {
 
          }
        }
  
        .project-info {
          margin-left: 8px;
          margin-right: 8px;
  
          .project-info-title {
            margin-bottom: 30px;
          }
  
          .project-info-text {
            margin-bottom: 33px;
  
          }
  
          .project-info-details {
            .flex-center-between();
  
            .project-info-detail {
                margin-bottom: 20px;
  
              span {
        
              }
            }
          }
  
          .button-project-info {

  
            &.transparent {
      
            }
          }
        }
      }
  
      .project-link-block {

      }
    }
  }

  .technology {
    .container-main {
       .technology-title {

      }
  
      .technology-image-block {
  
        .tehnology-image {
  
        }
  
        .technology-image-indicator {

        }
  
        .technology-info {
          .technology-info-title {
            
          }
  
          .technology-info-text {
   
          }
  
          &.block1 {
    
            max-width: 240px;

          }
  
          &.block2 {
            top: 140px;
            left: 815px;
          }
  
          &.block3 {
               top: 342px;
            left: 820px;
  
          }
  
          &.block4 {
    
            top: 512px;
            left: 560px;
          }
  
          &.block5 {
   
            top: 360px;
            left: 50px;
          }
        }
      }
    }
  }

  .guarantees {
    
    .container-main {
         .guarantees-title {
   
      }
  
      .guarantees-upper-blocks {

  
        .guarantees-upper-block {
             width: 488px;

  
          .guarantees-upper-block-info {
            .guarantees-upper-block-title {
          
            }
  
            .guarantees-upper-block-text {
   
            }
          }
        }
  
        .guarantees-upper-block-icon {
    
        }
      }
  
      .guarantees-items {
        .flex-center-between();
  
  
        .guarantees-item {
 
  
          .guarantees-item-icon {
 
          }
  
          .guarantees-item-title {

          }
  
          .guarantees-item-text {
         
          }
        }
      }
  
      .guarantees-button-block {
     
  
        .button-guarantees {
     
        }
      }
    }
  }

  .consultation {
    background-color: @background-main-color;
  
    .container-main {
      padding-top: 60px;
      padding-bottom: 60px;
      .flex-center-between();
      flex-wrap: wrap;
  
      .consultation-order {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
  
        max-width: 512px;
  
        .consultation-order-title {
          .title-css();
          margin-bottom: 40px;
          line-height: 54px;
        }
  
        .consultation-order-form {
          display: flex;
          align-items: center;
          flex-direction: column;
  
          .consultation-order-input {
            .form-control {
              width: 409px;
              height: 60px;
              border-radius: 29px;
              background-color: transparent;
              border: 1px solid @text-color;
              box-sizing: border-box;
              appearance: none;
              outline: none;
              margin-bottom: 20px;
  
            }
  
            .invalid-feedback {
        
            }
          }
  
          .button-consultation-order {
         
  
          }
  
          .consultation-order-check {

  
            .form-check-input {
  
  
              
            }
  
            .form-check-label {

            }
          }
        }
      }
    }
  }
  


}
