@import '../../node_modules/swiper/swiper-bundle.min.css';


@title-color: #ecc66b;
@text-color: white;
@background-main-color: #25252d;
@background-main-gradient: rgba(37, 37, 45, 0);
@bakground-small-block-color: #313139;
@icon-color: #ecc66b;
@background-icon-color: #555555;
@step-digital-icon-color: #393943;
@button-gradient1: #fcc271;
@button-gradient2: #efdbbb;
@header-border-color: #363D51;
@project-link-color: #89898a;
@dot-hover: rgb(252, 237, 203);
@background-main-opacity: rgba(37, 37, 45, 0.8);
@arrow-down: #bababa;

:root {
  --swiper-theme-color: @title-color;
  --swiper-pagination-bullet-inactive-color: @background-main-color;
}

.flex-center-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-css() {
  text-align: center;
  font-size: 40px;
  color: @title-color;
  font-family: "Neumann", sans-serif;
}

.small-block-css() {
  color: @text-color;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

@font-face {
  font-family: Museo Sans Cyrl;
  src: url(../../fonts/MuseoSansCyrl300.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Museo Sans Cyrl;
  src: url(../../fonts/MuseoSansCyrl100.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Museo Sans Cyrl;
  src: url(../../fonts/MuseoSansCyrl500.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Museo Sans Cyrl;
  src: url(../../fonts/MuseoSansCyrl700.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Neumann;
  src: url(../../fonts/neumann.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
  color: @text-color;
}

.container-main {
  margin: 0 auto;
  max-width: 1200px;
}

.button {
  text-decoration: none;
  border-radius: 30px;
  .flex-center-center;
  height: 60px;
  font-size: 18px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  color: @background-main-color;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(90deg, @button-gradient1 0%, @button-gradient2 100%);
  border: none;
  box-sizing: border-box;

  &.transparent {
    background-color: transparent;
    border: 1px solid @text-color;
    color: @text-color;
    background-image: none;
    box-sizing: border-box;
  }

  &.btn {
    &:hover {
      color: @background-main-color;
    }
  }
}

.hvr-float-shadow {
  display: flex;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, @button-gradient1 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, @button-gradient1 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: enttranslateY(-5px);
  transform: translateY(-5px);
  /* move the elem up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Radial Out */
.hvr-radial-out {
  display: flex;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: @title-color;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: @background-main-color;
}

.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}


.phone-block {
  .phone {
    font-size: 18px;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 700;
    color: @text-color;
    line-height: 0.833;
    margin-bottom: 14px;

  }

  .order-call {
    .flex-center-center();
    text-decoration: none;

    .order-call-text {
      color: @title-color;
      font-size: 16px;
      font-family: 'Museo Sans Cyrl', sans-serif;
      line-height: 0.938;
      margin-left: 8px;
      padding-bottom: 5px;
      padding-top: 5px;
      border-bottom: 1px solid transparent;
      margin-bottom: 0;
    }

    &:hover .order-call-text {
      border-bottom: 1px solid @title-color;
    }
  }
}

.social {
  .instagram {
    &:hover {
      opacity: 0.9;
    }
  }

  .telegram {
    &:hover {
      opacity: 0.9;
    }
  }

  .youtube {
    &:hover {
      opacity: 0.9;
    }
  }
}


.title {
  background-image: url(../../images/bacground-title.png);
  background-position: center;
  background-size: cover;
  position: relative;

  .menu-pop-up {
    display: none;
    height: 100%;
    padding-left: 18.8%;
    padding-right: 106px;
    padding-top: 35px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: @background-main-color;
    z-index: 200;

    .close-menu {
      margin-bottom: 51px;
    }

    .menu-title-title {
      font-family: "Neumann", sans-serif;
      font-size: 40px;
      color: @text-color;
      margin-bottom: 60px;
      line-height: 15px;
    }

    ul {
      list-style: none;
      padding-left: 0;

      .menu-item {
        display: flex;
        text-decoration: none;
        color: @text-color;

        a {
          margin-bottom: 31px;
          font-size: 18px;
          line-height: 15px;

          &:hover {
            color: @title-color;

          }

          &:hover::before {
            content: '';
            position: relative;
            left: -10px;
            top: 5px;
            width: 5px;
            height: 5px;
            background-color: @title-color;
            border-radius: 50%;
          }
        }
      }
    }

    .social {
      box-sizing: border-box;
      width: 150px;
      .flex-center-between();
    }
  }


  .title-bottom-shadow {
    background-image: -moz-linear-gradient(90deg, @background-main-color 0%, @background-main-gradient 100%);
    background-image: -webkit-linear-gradient(90deg, @background-main-color 0%, @background-main-gradient 100%);
    background-image: -ms-linear-gradient(90deg, @background-main-color 0%, @background-main-gradient 100%);
    height: 215px;
  }


  header {
    border-bottom: 1px solid @header-border-color;

    .container-main {
      padding-top: 20px;
      padding-bottom: 21px;
      .flex-center-between();

    }
  }

  .container-main {
    &.title-container {
      position: relative;
      .flex-center-center();

      .title-block {
        .flex-center-center();
        flex-direction: column;

        .title-title {
          margin-top: 162px;
          font-size: 50px;
          font-family: "Neumann", sans-serif;
          color: @title-color;
          line-height: 1.2;
          text-align: center;
          max-width: 624px;
          margin-bottom: 25px;
        }

        .title-text {
          font-size: 18px;
          font-family: 'Museo Sans Cyrl', sans-serif;
          color: @text-color;
          font-weight: 700;
          text-align: center;
          margin-bottom: 40px;
        }

        .button-title {
          padding-left: 70px;
          padding-right: 70px;
          margin-bottom: 68px;
        }

      }

      .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 203px;

        .instagram {
          margin-bottom: 30px;
        }

        .telegram {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.projects {
  background-color: @background-main-color;

  .container-main {
    padding-top: 100px;
    padding-bottom: 100px;

    .projects-title {
      margin-bottom: 32px;
      .title-css();
    }

    .project-block {
      .flex-center-between();
      margin-bottom: 70px;
      padding-top: 50px;

      &.more {
        display: none;
      }

      .project-image {
        width: 100%;

        .project-info-title {
          font-size: 30px;
          color: @text-color;
          font-family: 'Museo Sans Cyrl', sans-serif;
          font-weight: 500;

          &.image {
            text-align: center;
            margin-bottom: 20px;
            display: none;
          }
        }

        &.order {
          order: 1;
          display: flex;
          justify-content: flex-end;
        }
      }

      .project-info {
        max-width: 498px;

        .project-info-title {
          font-size: 30px;
          color: @text-color;
          font-family: 'Museo Sans Cyrl', sans-serif;
          font-weight: 500;
          margin-bottom: 40px;

          &.image {
            text-align: center;
            margin-bottom: 20px;
            display: none;
          }
        }

        .project-info-text {
          font-size: 18px;
          color: @text-color;
          line-height: 1.278;
          margin-bottom: 50px;

        }

        .project-info-details {
          .flex-center-between();

          .project-info-detail {
            .flex-center-center();
            border-width: 1px;
            border-color: @title-color;
            border-style: solid;
            border-radius: 50%;
            width: 108px;
            height: 108px;
            box-sizing: border-box;
            margin-bottom: 50px;

            span {
              line-height: 1.25;
              font-size: 20px;
              color: @title-color;
              font-family: 'Museo Sans Cyrl', sans-serif;
              font-weight: 500;
              width: 90px;
              text-align: center;
            }
          }
        }

        .button-project-info {
          width: 365px;

          &.transparent {
            margin-top: 20px;
          }
        }
      }
    }

    .project-link-block {
      .flex-center-center();
      text-decoration: none;

      .project-link {
        opacity: 0.988;
        font-size: 18px;
        color: @project-link-color;
        font-family: "Museo Sans Cyrl", sans-serif;
        margin-right: 10px;

      }
    }
  }
}

.technology {
  background-color: @background-main-color;

  .container-main {
    padding-top: 20px;
    padding-bottom: 200px;

    .technology-title {
      .title-css();
      margin-bottom: 80px;
    }

    .technology-image-block {
      .flex-center-center();
      position: relative;

      &.min {
        display: none;
      }

      .tehnology-image {

      }

      .technology-image-indicator {
        position: absolute;
        top: 76px;
        left: calc(50% - 370px);
      }

      .technology-info {
        .technology-info-title {
          font-size: 18px;
          color: @text-color;
          font-weight: 500;
          font-family: "Museo Sans Cyrl", sans-serif;
        }

        .technology-info-text {
          font-size: 16px;
          line-height: 21px;
          color: @text-color;
          font-weight: 100;
          font-family: "Museo Sans Cyrl", sans-serif;
        }

        &.block1 {
          position: absolute;
          max-width: 268px;
          top: 93px;
          left: 0;
        }

        &.block2 {
          position: absolute;
          max-width: 269px;
          top: 120px;
          left: 953px;
        }

        &.block3 {
          position: absolute;
          max-width: 238px;
          top: 322px;
          left: 922px;

        }

        &.block4 {
          position: absolute;
          max-width: 229px;
          top: 492px;
          left: 630px;
        }

        &.block5 {
          position: absolute;
          max-width: 238px;
          top: 340px;
          left: 50px;
        }
      }
    }
  }
}

.step {
  background-color: @background-main-color;

  .container-main {
    padding-bottom: 60px;

    .step-title {
      .title-css();
      margin-bottom: 80px;
    }

    .steps-row {
      .flex-center-between();
      flex-wrap: wrap;

      .step-info {
        display: flex;
        align-items: flex-start;
        width: 354px;

        .step-info-icon {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          top: -15px;

          .step-info-number {
            font-size: 70px;
            font-family: "Neumann", sans-serif;
            color: @step-digital-icon-color;
          }

          .step-info-icon-img {
            position: relative;
            top: -35px;
          }

        }

        .step-info-text-block {
          margin-top: 48px;
          margin-bottom: 101px;

          .step-info-title {
            .small-block-css();
            font-weight: 500;
          }

          .step-info-text {
            .small-block-css();
            font-weight: 100;

            a {
              color: @text-color;
              font-weight: 500;

            }
          }
        }
      }
    }
  }
}

.gallery {
  background-color: @background-main-color;

  .container-main {
    padding-top: 19px;
    padding-bottom: 60px;

    .gallery-title {
      .title-css();
      margin-bottom: 80px;
    }

    .swiper {
      width: 100%;
      height: 585px;
      margin: 0 auto;
      .flex-center-center();

      .swiper-pagination-bullet {
        opacity: 1;
        border: 1px solid @title-color;
        //background-color: @background-main-color;
      }

      .swiper-button-next, .swiper-button-prev {
        border: 1px solid @title-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 14px;
      }

      .swiper-wrapper {
        .swiper-slide {
          .flex-center-center();

          &.swiper-slide-active {
            position: relative;
            z-index: 10;

            img {
              display: block;
              width: 587px;
              height: 347px;
            }

            .slide-content {
              .slide-info {
                display: flex;
              }
            }
          }

          &.swiper-slide-prev {
            position: relative;
            left: 10%;
            opacity: 0.5;
            transform: scale(0.8);

            img {
              display: block;
            }

            .slide-content {
              .slide-info {
                display: none;
              }
            }
          }

          &.swiper-slide-next {
            right: 10%;
            position: relative;
            z-index: 5;
            opacity: 0.5;
            transform: scale(0.8);

            img {
              display: block;
            }
          }

          img {
            display: none
          }

          .slide-content {

            .slide-info {
              display: none;
              max-width: 588px;
              padding: 15px;
              align-items: center;
              justify-content: space-between;
              background-color: @bakground-small-block-color;

              .slide-info-left {
                display: flex;
                flex-direction: column;
                .small-block-css();
                font-weight: 500;
                margin-left: 42px;

                span {
                  margin-top: 15px;
                  font-size: 16px;
                  font-weight: 100;
                }
              }

              .slide-info-line {
                height: 45px;
                border-left: 1px solid @text-color;
              }

              .slide-info-right {
                display: flex;
                flex-direction: column;
                margin-right: 25px;

                .slide-info-right-gab {
                  display: flex;

                  .gab-main {
                    display: flex;
                    color: @text-color;
                    font-size: 16px;
                  }

                  .gab {
                    margin-bottom: 15px;
                    margin-right: 2px;
                  }
                }

                .slide-info-right-sqr {
                  .info {
                    margin-top: 15px;
                  }

                  .sqr {
                    margin-right: 2px;
                  }

                }
              }
            }

          }
        }
      }
    }
  }
}

.guarantees {
  background-color: @background-main-color;

  .container-main {
    padding-top: 60px;
    padding-bottom: 60px;;

    .guarantees-title {
      .title-css();
      margin-bottom: 50px;
    }

    .guarantees-upper-blocks {
      .flex-center-between();
      flex-wrap: wrap;
      margin-bottom: 60px;

      .guarantees-upper-block {
        padding-top: 29px;
        padding-bottom: 39px;
        padding-left: 40px;
        width: 588px;
        background-color: @bakground-small-block-color;
        display: flex;
        align-items: center;
        margin-top: 30px;


        .guarantees-upper-block-info {
          .guarantees-upper-block-title {
            .small-block-css();
            font-weight: 500;
          }

          .guarantees-upper-block-text {
            .small-block-css();
            font-weight: 100;
            margin-bottom: 0;
            padding-right: 77px;
          }
        }
      }

      .guarantees-upper-block-icon {
        margin-right: 40px;
      }
    }

    .guarantees-items {
      .flex-center-between();
      flex-wrap: wrap;
      margin-bottom: 60px;

      .guarantees-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 282px;

        .guarantees-item-icon {
          .flex-center-center();
          border: 1px solid @title-color;
          border-radius: 50%;
          width: 140px;
          height: 140px;
          box-sizing: border-box;
          margin-bottom: 30px;
        }

        .guarantees-item-title {
          .small-block-css();
          text-align: center;
          margin-bottom: 18px;
        }

        .guarantees-item-text {
          .small-block-css();
          text-align: center;
        }
      }
    }

    .guarantees-button-block {
      display: flex;
      justify-content: center;

      .button-guarantees {
        width: 385px;
      }
    }
  }
}

.consultation {
  background-color: @background-main-color;

  .container-main {
    padding-top: 60px;
    padding-bottom: 60px;
    .flex-center-between();
    flex-wrap: wrap;

    .consultation-order {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;

      max-width: 512px;

      .consultation-order-title {
        .title-css();
        margin-bottom: 20px;
        line-height: 54px;
      }

      .consultation-order-message {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 60px;
        padding-top: 60px;

        .close-order {
          margin-bottom: 20px;
          text-align: right;
        }

        span {
          font-size: 24px;
          color: @title-color;
          font-family: "Neumann", sans-serif;
          text-align: center;
        }
      }

      .consultation-order-form {
        display: flex;
        align-items: center;
        flex-direction: column;

        .consultation-order-input {
          .form-control {
            width: 409px;
            height: 60px;
            border-radius: 29px;
            background-color: transparent;
            border: 1px solid @text-color;
            box-sizing: border-box;
            appearance: none;
            outline: none;
            margin-top: 20px;
            padding: 20px;
            .small-block-css();


            &::placeholder {
              .small-block-css();
              background-color: transparent;
            }

            &:focus {
              box-shadow: none;
            }

          }

          .invalid-feedback {
            margin-left: 10px;
            order: 2;
          }
        }

        .button-consultation-order {
          width: 409px;
          margin-top: 20px;
          margin-bottom: 30px;

        }

        .consultation-order-check {
          display: flex;

          .form-check-input {
            border-radius: 0;
            border-color: @text-color;
            background-color: @background-main-color;
            margin-right: 25px;

            &:focus {
              box-shadow: none;
              transform: scale(1.05);
            }

            &:checked {
              background-color: transparent;
              border-color: @text-color;
            }
          }

          .form-check-label {
            max-width: 313px;
            font-size: 14px;
            line-height: 16px;
            color: @text-color;
            font-family: "Museo Sans Cyrl", sans-serif;
            order: 1;

            .politics-link {
              color: @text-color;
              font-family: "Museo Sans Cyrl", sans-serif;
            }
          }
        }
      }
    }
  }
}

.tour {
  background-color: @background-main-color;
  position: relative;


  .container-main {
    padding-top: 60px;
    padding-bottom: 140px;
    position: relative;
    .flex-center-center();


    .tour-map {
      background-image: url('../../images/map.png');
      background-position: center;
      background-size: cover;
      max-width: 1200px;
      margin: auto auto;
      padding-left: 367px;
      padding-right: 295px;
      overflow: hidden;


      .tour-info {
        max-width: 442px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;

        .tour-info-title {
          font-size: 60px;
          line-height: 70px;
          color: @title-color;
          font-family: "Neumann", sans-serif;
          text-align: center;
          margin-top: 215px;
          margin-bottom: 30px;
        }

        .tour-info-text {
          .small-block-css();
          text-align: center;
          font-weight: 500;
          margin-bottom: 30px;
        }

        .button-tour {
          width: 309px;
        }
      }
    }
  }
}

footer {
  background-color: @background-main-color;
  border-top: 1px solid @header-border-color;

  .container-main {
    .flex-center-between();
    padding-top: 50px;
    padding-bottom: 150px;

    .footer-adress-block {
      display: flex;
      flex-direction: column;
      .small-block-css();

      .footer-adress {
        margin-bottom: 30px;
      }
    }

    .footer-logo-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      .social {
        margin-top: 54px;
        width: 160px;
        .flex-center-between();

      }
    }

  }
}

.pop-up-my {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: @background-main-opacity;
  z-index: 50;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .pop-up-tour {

    background-image: url(../../images/pop-up-back.png);
    width: 560px;
    padding: 20px 20px 54px 63px;
    position: relative;
    z-index: 150;

    .close-pop {
      text-align: right;
      cursor: pointer;

    }

    .pop-up-message {
      display: none;
      align-items: center;
      justify-content: center;

      span {
        font-size: 24px;
        color: @title-color;
        font-family: "Neumann", sans-serif;
        text-align: center;
      }
    }

    .pop-up-form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .pop-up-text {
        text-align: center;
        .small-block-css();
        max-width: 432px;
        margin-top: 11px;
        margin-bottom: 10px;
        margin-right: 43px;
      }

      .consultation-order-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 43px;

        .consultation-order-input {
          .form-control {
            width: 409px;
            height: 60px;
            border-radius: 29px;
            background-color: transparent;
            border: 1px solid @text-color;
            box-sizing: border-box;
            appearance: none;
            outline: none;
            margin-top: 20px;
            padding: 20px;
            .small-block-css();


            &::placeholder {
              .small-block-css();
              background-color: transparent;
            }

            &:focus {
              box-shadow: none;
            }

          }

          .invalid-feedback {
            margin-left: 10px;
            order: 2;
          }
        }

        .button-consultation-order {
          width: 409px;
          margin-top: 20px;
          margin-bottom: 30px;

        }

        .consultation-order-check {
          display: flex;

          .form-check-input {
            border-radius: 0;
            border-color: @text-color;
            background-color: @background-main-color;
            margin-right: 25px;
            order: 0;

            &:focus {
              box-shadow: none;
              transform: scale(1.05);
            }

            &:checked {
              background-color: transparent;
              border-color: @text-color;
            }
          }

          .form-check-label {
            max-width: 313px;
            font-size: 14px;
            line-height: 16px;
            color: @text-color;
            font-family: "Museo Sans Cyrl", sans-serif;
            order: 1;

            .politics-link {
              color: @text-color;
              font-family: "Museo Sans Cyrl", sans-serif;
            }
          }
        }
      }
    }
  }
}

.my-arrow-down {
  position: fixed;
  top: 300px;

  #arrow-wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }

  #wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }

  #scroll-down {
    display: block;
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
  }

  .arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
  }

  .arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid @arrow-down;
    border-right: 2px solid @arrow-down;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #scroll-title {
    margin-bottom: 132px;
    transform: rotate(270deg);
    display: block;
    color: @arrow-down;
    font-size: 18px;
    line-height: 20px;
    font-family: "Museo Sans Cyrl", sans-serif;
  }

  #scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */

    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */

    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */

    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */

    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -2px;
    width: 2px;
    height: 80px;
    background: @arrow-down;
    content: ' ';
  }

  @-webkit-keyframes elasticus {
    0% {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
    50% {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50.1% {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
  }
  @-moz-keyframes elasticus {
    0% {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0 0;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
    50% {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0 0;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50.1% {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
  }
  @-o-keyframes elasticus {
    0% {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0 0;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
    50% {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0 0;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50.1% {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
  }
  @keyframes elasticus {
    0% {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0 0;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
    50% {
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0 0;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50.1% {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
    }
  }

}

.consultation-pop-up {
  background-color: @background-main-opacity;

  display: none;
  width: 100%;
  height: 15%;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 400;

  .consultation-pop-up-link {
    text-align: center;
    font-size: 40px;
    color: @title-color;
    font-family: "Neumann", sans-serif;
  }

}

.mfp-with-zoom .mfp-img {
  transition: transform 0.5s ease;
}

.mfp-with-zoom.mfp-ready .mfp-img {
  transform: scale(1.3);
}


@import 'adaptive.less';

  